# Python / Django
__pycache__/
*.pyc
venv/
db.sqlite3
.env

# Node.js / React
node_modules/
dist/
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File sistem operasi
.DS_Store
Thumbs.db